defaults:
    - _self_
    - data: train-val-test
    - models: model6
    - losses@Loss1: MarginLossFxn
    - losses@Loss2: BCElogitsLossFxn
    - distance_fn: sig_cos_d
    - anneal_fn: tanh_decay
    - override hydra/sweeper: basic #gride
#     - override hydra/sweeper/sampler: nsgaii
    - override hydra/launcher: submitit_slurm


wandb:
  group: 'TMLfrqupd_BCEless'

n_epochs: 400
lr: 0.001
alternate_epochs: True 
n_alternate_epoch: 3
burn_in_epochs: 10
job_type: 'training'
project: 'biotin-${hydra:runtime.choices.models}'
seed: 123



hydra:
    launcher:
        timeout_min: 700 # 2 hours
        tasks_per_node: 1
        array_parallelism: 3   # run up to 3 jobs at once
        cpus_per_task: 1
        nodes: 1
        name: ${hydra.job.name}
        partition: cellbio-dgx
        account: singhlab
        mem_gb: 32
        additional_parameters:
          gres: gpu:1
        stderr_to_stdout: true

    sweeper:
#         sampler:
#             _target_:  optuna.samplers.NSGAIISampler
#         direction: minimize
#         study_name: biotin
#         n_trials: 27
#         n_jobs: 3
        params:
            anneal_fn.M_0: 0.0001,0.05,0.1
            alternate_epochs: True
            n_alternate_epoch: 2,5,10 
