defaults:
    - _self_
    - data: train-val-test
    - models: model4
    - losses@Loss1: MarginLossFxn
    - losses@Loss2: BCELossFxn
    - distance_fn: sig_cos_d
    - anneal_fn: tanh_decay
    
wandb:
  project: biotin
  group: ${hydra:runtime.choices.distance}  

n_epochs: 50
lr: 0.00001
alternate_epochs: True
n_alternate_epoch: 5
burn_in_epochs: 10
job_type: 'training'
loss1_weight: 0.5
project: 'biotin-${hydra:runtime.choices.models}'
seed: 123
